.marqueeWrapper {
  width: 100%;
  background-color: #a3b726; /* green background */
  color: white;
  padding: 10px 0;
  text-align: center;
  margin-top: 120px;
}
.marquee span {
  padding-right: 50px; /* gap between repeats */
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 768px) {
.marquee span {
    padding-right: 0px; /* gap between repeats */
  font-size: 12px;
}
.marqueeWrapper {
  margin-top: 76px;
}
.fd {
    font-size: 12px;
}
.marqueeWrapper {
padding: 10px 5px;

}
}