.marqueeWrapper {
  width: 100%;

  background-color: #a3b726; /* green background */
  color: white;
  padding: 10px 0;
  position: relative;
  margin-bottom: 50px;
  text-align: center;
}



.marquee span {
  display: inline-block;
  padding-right: 50px; /* gap between repeats */
  font-size: 14px;
  font-weight: 500;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
